day4/My_workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b2d24b52-3bec-402f-a024-a628cdb8ac80",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "181ac693-e8f8-49ba-aea3-1fbf581df0a3",
      "name": "Webhook",
      "webhookId": "b2d24b52-3bec-402f-a024-a628cdb8ac80"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst bodyData = items.map((item) => item.json.body);\nreturn bodyData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "f697ea07-47cb-4c73-9257-7f83fc2fac84",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dKJ_ol-7po0kLbsPembS_aodidLDL2BkR5YFqmW4iJo",
          "mode": "list",
          "cachedResultName": "Task Submission",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dKJ_ol-7po0kLbsPembS_aodidLDL2BkR5YFqmW4iJo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dKJ_ol-7po0kLbsPembS_aodidLDL2BkR5YFqmW4iJo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        0
      ],
      "id": "c2167797-0217-4f76-9c1e-ebda10963f34",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NaWBkUFiSLfXKPhY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dKJ_ol-7po0kLbsPembS_aodidLDL2BkR5YFqmW4iJo",
          "mode": "list",
          "cachedResultName": "Task Submission",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dKJ_ol-7po0kLbsPembS_aodidLDL2BkR5YFqmW4iJo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dKJ_ol-7po0kLbsPembS_aodidLDL2BkR5YFqmW4iJo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        640,
        0
      ],
      "id": "e749e3b3-c63f-4bf7-8ab8-46b802725c97",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "NaWBkUFiSLfXKPhY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a productivity assistant. A team meeting was conducted where project tasks were discussed and assigned.\nThe following information has been submitted by an employee.\n\nYour task is to analyze the details and generate a concise, professional email outlining the action items, assigned tasks, and the due date.\n\nMeeting Details:\n\nName: {{ $json.user }}\n\nTopic: {{ $json.meeting_title }}\n\nTask Description: {{ $json.action_item }}\n\nDue Date: {{ $json['due_date'] }}\n\nInstructions:\n\nFormat the output as a professional email body.\n\nClearly list action items and responsibilities.\n\nMention the due date.\n\nKeep the content short, direct, and informative.\n\nDo not include a subject line.\n\nGenerate the final email content that can be sent to the employee.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        860,
        0
      ],
      "id": "b889ae6e-4a47-4bbd-ad1e-fe50864ee4ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        240
      ],
      "id": "d8d97e93-1e94-4622-8d95-b1c046dc0086",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "E8f6SdPNf71fY2AC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets1').item.json.email }}",
        "subject": "Task submission",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1220,
        0
      ],
      "id": "dd651960-fa47-4d54-9010-12ca6b9b192a",
      "name": "Gmail",
      "webhookId": "f32a0df0-f33e-48b1-ae81-5018d95a3262",
      "credentials": {
        "gmailOAuth2": {
          "id": "j1AlDptFOIfLwuiw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f89962f6-64b4-4672-8073-2d85e55f0c18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1fd88f7d1de37e03dc4aec0a6a0e8bc180e44dba337b2acb0195d12c3f5d7837"
  },
  "id": "LGafxDYH40EGFvft",
  "tags": []
}